<template>
	<div id="app">
		<app-header />
		<b-container>
			<b-jumbotron header="Welcome to the Wall" lead="The best wall you've ever seen!" v-if="showWall">
				<p v-if="!loggedIn">
					Create an account or log in to view the wall!
					<br/><small>We promise not to do anything bad with your information</small>
				</p>
			</b-jumbotron>
			<router-view />
		</b-container>
		<footer>
			<a href="https://gitlab.com/planemaniac/CS260/tree/master/wall">Source</a>
		</footer>
	</div>
</template>

<script>
import AppHeader from '@/components/AppHeader';

export default {
	name: 'App',
	components: { AppHeader },
	computed: {
		showWall() { return !this.loggedIn; },
		loggedIn() { return this.$store.getters.loggedIn },
	},
	watch: {
		'$store.getters.loggedIn'() {
			if ( !this.loggedIn ) {
				this.$router.push( { name: 'Login' } );
			}
		}
	},
}
</script>

<style>
body, html {
	min-height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	flex: 1;
}

.jumbotron {
	margin-top: 5px;
}

footer {
	text-align: center;
	padding: 10px;
}
</style>
