<template>
	<b-navbar toggleable="sm" type="dark" variant="dark">
		<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

		<b-navbar-brand :to="{ name: 'Home' }">Wall</b-navbar-brand>
		<b-collapse is-nav id="nav_collapse">
			<b-navbar-nav>
				<b-nav-item :to="{ name: 'Complaints' }">Complaints</b-nav-item>
			</b-navbar-nav>
			<b-navbar-nav class="ml-auto">
				<b-nav-text v-if="loggedIn">{{ username }}</b-nav-text>
				<b-nav-item v-if="loggedIn" href="javascript:void(0);" v-on:click="logout">Logout</b-nav-item>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
	name: "AppHeader",
	computed: {
		loggedIn() { return this.$store.getters.loggedIn },
		username() { return this.$store.state.user.username },
	},
	methods: {
		...mapMutations(['logout']),
	},
}
</script>
