<template>
	<div class="complaints">
		<h1>Complaints</h1>
		<b-card-group columns class="mb-3">
			<b-card v-for="complaint in complaints"
				:key="complaint.id"
				v-bind:title="`${complaint.username} (${complaint.name.replace(' ', '&nbsp;')}) complained`"
				v-bind:sub-title="`on ${new Date(complaint.created).toLocaleString()}`">
				{{ complaint.complaint }}
			</b-card>
		</b-card-group>
	</div>
</template>

<script>
import axios from 'axios';

export default {
	name: "Complaints",
	data() {
		return {
			complaints: [],
		}
	},
	created: function() {
		this.loadComplaints();
	},
	methods: {
		loadComplaints() {
			axios.get( 'api/complaints', this.$store.getters.getAuthHeader ).then( response => {
				this.complaints = response.data.complaints;
			} );
		},
	},
}
</script>

<style scoped>
h1 {
	text-align: center;
}
</style>
