<template>
	<div class="home">
		<img src="../assets/wall.png" />
		<h2>Welcome to the Wall!</h2>
		<p>
			Thank you for creating an account to see the wall. The wall is very appreciative of your support. How did you support? Why you created an account of course! While we promise not to do anything too evil with your information, we now have it, so yeah. Hopefully you're OK with that. Feel free to voice your complaints with the management.
		</p>
		<p><small>Also, you probably shouldn't create accounts on insecure websites anyways, so yeah, it's kinda your fault.</small></p>
		<b-form v-on:submit.prevent="post" autocomplete="off">
			<b-form-group id="commentGroup"
				label="Complaint:"
				label-for="commentInput"
				>
				<b-form-textarea id="commentInput"
					v-model="complaint"
					placeholder="Enter your complaint"
					required
					:rows="4"></b-form-textarea>
			</b-form-group>
			<b-button type="submit" variant="primary">Complain</b-button>
		</b-form>
	</div>
</template>

<script>
import axios from 'axios';

export default {
	name: "Home",
	data() {
		return {
			complaint: '',
		}
	},
	methods: {
		post() {
			axios.post( 'api/complaints', {
				complaint: this.complaint,
				user: this.$store.state.user.id,
			}, this.$store.getters.getAuthHeader ).then( () => {
				this.complaint = '';
				this.$router.push( { name: "Complaints" } );
			} );
		},
	},
}
</script>

<style scoped>
.home img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	display: block;
	margin-top: 5px;
}

h2 {
	text-align: center;
}
</style>
