<template>
	<div v-if="loginForm" class="login">
		<h1>Login</h1>
		<div class="error" v-if="hasError">{{ error }}</div>
		<b-form v-on:submit.prevent="login" autocomplete="off">
			<b-form-group id="usernameGroup"
				label="Username:"
				label-for="usernameInput"
				>
				<b-form-input id="usernameInput"
					type="text"
					v-model="username"
					required
					placeholder="username" />
			</b-form-group>
			<b-form-group id="passwordGroup"
				label="Password:"
				label-for="passwordInput"
				>
				<b-form-input id="passwordInput"
					type="password"
					v-model="password"
					required
					placeholder="password" />
			</b-form-group>
			<b-button type="submit" variant="primary">Login</b-button>
		</b-form>
		<router-link :to="{ name: 'Register' }">Register</router-link>
	</div>
	<div v-else class="register">
		<h1>Register</h1>
		<div class="error" v-if="hasError">{{ error }}</div>
		<b-form v-on:submit.prevent="register" autocomplete="off">
			<b-form-group id="nameGroup"
				label="Name:"
				label-for="nameInput"
				description="Please enter your full name"
				>
				<b-form-input id="nameInput"
					type="text"
					v-model="name"
					required
					placeholder="name" />
			</b-form-group>
			<b-form-group id="usernameGroup"
				label="Username:"
				label-for="usernameInput"
				>
				<b-form-input id="usernameInput"
					type="text"
					v-model="username"
					required
					placeholder="username" />
			</b-form-group>
			<b-form-group id="passwordGroup"
				label="Password:"
				label-for="passwordInput"
				>
				<b-form-input id="passwordInput"
					type="password"
					v-model="password"
					required
					placeholder="password" />
			</b-form-group>
			<b-button type="submit" variant="primary">Register</b-button>
		</b-form>
		<router-link :to="{ name: 'Login' }">Login</router-link>
	</div>
</template>

<script>
export default {
	name: "Login",
	data() {
		return {
			name: '',
			username: '',
			password: '',
		}
	},
	computed: {
		loginForm() {
			return this.$route.name === 'Login';
		},
		hasError() { return this.$store.getters.hasError; },
		error() { return this.$store.state.errorString; },
	},
	methods: {
		login() {
			this.disabled = true;
			this.$store.dispatch('login',{
				username: this.username,
				password: this.password,
			});
		},
		register() {
			this.disabled = true;
			this.$store.dispatch('register',{
				username: this.username,
				password: this.password,
				name: this.name,
			});
		},
		reset() {
			this.name = '';
			this.username = '';
			this.password = '';
			this.$store.commit( 'clearErrorString' );
		},
	},
	watch: {
		'$route' (to, from) {
			this.reset()
		},
		'$store.getters.loggedIn'() {
			if ( this.$store.getters.loggedIn ) {
				if ( this.$store.getters.shouldRedirect ) {
					this.$router.push( { name: this.$store.state.redirect } );
					return;
				}

				this.$router.push( { name: 'Home' } );
			}
		}
	}
}
</script>

<style scoped>
.login, .register {
	text-align: center;
}

form {
	text-align: left;
	max-width: 500px;
	margin: 0 auto;
}

.error {
	text-align: center;
	color: red;
	font-size: 2em;
}
</style>
