@charset "utf-8";
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$blue: #7c9eff;
$blue-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
$primary: $blue;
$primary-invert: $blue-invert;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/sass/utilities/mixins";
@import "../node_modules/bulma/bulma";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.main-body {
		flex: 1;
	}
}

#JokeTemplate {
	display: none;
}

.main-body {
	.refresh {
		button {
			float: right;

		}

		@include touch {
			button {
				width: 100%;
			}
		}
	}

	.jokes {
		margin-top: 10px;

		.joke {
			height: 100%;
			display: flex;
			flex-direction: column;

			.card-content {
				flex: 1;
			}
		}
	}
}
