html, body {
	background: #535353;
	color: #c5c5c5;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: darkgrey;
}

a:hover {
	color: #03c703;
}

p, a, span {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.wrapper {
	margin: 0 auto;
	width: 75%;
	min-width: 500px;
	max-width: 1000px;

	display: flex;
	flex-direction: column;
	height: 100%;
}

.menu {
	display: flex;
	align-items: center;
}

.menu img {
	display: inline-block;
	width: 100px;
	margin: 0 15px;
}

.menu h1 {
	display: inline-block;
	margin: 0 15px;
}

.menu a {
	text-align: center;
	padding: 5px 8px;
	transition: all 100ms linear;
	border: 2px solid transparent;
	border-radius: 5px;
	flex-grow: 1;
}

.menu a + a {
	margin-left: 15px;
}

.menu a.active, .menu a:hover {
	border: 2px solid #03c703;
	color: #03c703;
}

.footer {
	margin: 20px 0 0;
	padding: 5px;
	text-align: center;
	font-size: 0.8em;
}

.content {
	margin: 0;
	padding: 0 15px;
	flex: 1 100%;
}

.content h2, h3 {
	text-align: center;
	color: #03c703;
}

.content p {
	text-align: justify;
}

.content p + p {
	margin-top: 15px;
}

.game-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}

.game-grid img {
	border-radius: 5px;
	transition: filter 100ms linear;
	filter: opacity(0.8) grayscale(1);
	border: 2px solid transparent;
}

.game-grid img:hover {
	filter: opacity(1);
	border: 2px solid #03c703;
}

.portrait {
	width: 200px;
	padding-right: 15px;
	float: left;
}

form {
	width: auto;
	text-align: center;
}

form div + div {
	margin-top: 15px;
}

form label {
	width: 200px;
	text-align: right;
	display: inline-block;
	margin-top: 5px;
}

form input {
	width: 300px;
	height: 30px;
	vertical-align: top;
	font-family: inherit;
	background: transparent;
	border: 2px solid #c5c5c5;
	border-radius: 5px;
	color: #c5c5c5;
	font-size: 1em;
	padding: 5px;
}

form input:focus {
	border: 2px solid #03c703;
}

button {
	padding: 10px 20px;
	background: transparent;
	border: 2px solid #c5c5c5;
	border-radius: 5px;
	color: #c5c5c5;
	transition: border 100ms linear;
}

button:hover, button:focus {
	cursor: pointer;
	border: 2px solid #03c703;
}
