<template>
	<div class="feed">
		<div>
			<form v-on:submit.prevent="tweet" class="tweetForm">
				<textarea v-model="text" placeholder=""/><br/>
				<div class="buttonWrap">
					<button class="primary" type="submit">Tweet</button>
				</div>
			</form>
		</div>
		<feed-list v-bind:feed="feed" />
	</div>
</template>

<script>
import FeedList from './FeedList';
export default {
	name: 'UserFeed',
	components: { FeedList },
	data () {
		return {
			text: '',
		}
	},
	created: function() {
		this.$store.dispatch('getFeed');
	},
	computed: {
		feed: function() {
			return this.$store.getters.feed;
		},
	},
	methods: {
		tweet: function() {
			this.$store.dispatch('addTweet',{
				tweet: this.text,
			}).then(tweet => {
				this.text = "";
			});
		},
	}
}
</script>

<style scoped>
.feed {
	width: 600px;
}
.tweetForm {
	background: #eee;
	padding: 10px;
	margin-bottom: 10px;
}
.buttonWrap {
	width: 100%;
	display: flex;
}
button {
	margin-left: auto;
	height: 2em;
	font-size: 0.9em;
}
textarea {
	width: 100%;
	height: 5em;
	padding: 2px;
	margin-bottom: 5px;
	resize: none;
	box-sizing: border-box;
}
</style>
