html, body {
	margin: 0;
	padding: 0;
	background: #4A4A4A;
	color: #BCBCBC;
}

* {
	box-sizing: border-box;
}

a {
	color: #BCBCBC;
	text-decoration: none;
}

ul {
	margin: 0;
}

nav {
	background: black;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
	background: #222222;
	padding: 5px 10px;
}

nav li:hover {
	background: #333333;
	border-top: 1px solid green;
}

nav li.active {
	background: #4A4A4A;
	border-top: 1px solid green;
}

.header {
	text-align: center;
	font-family: sans-serif;
}

.content {
	display: flex;
}

.content h2 {
	text-transform: uppercase;
	text-orientation: upright;
	writing-mode: vertical-lr;
	width: 30px;
}

.content p {
	flex: 1;
	margin: 0;
}

