<template>
<div id="app">
	<b-navbar toggleable="sm" type="dark" variant="primary">
		<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

		<b-navbar-brand>Chaos Chat!</b-navbar-brand>
		<b-collapse is-nav id="nav_collapse">
			<b-navbar-nav class="ml-auto">
				<b-nav-text v-if="loggedIn">{{ username }}</b-nav-text>
				<b-nav-item v-if="loggedIn" href="javascript:void(0);" v-on:click="logout">Logout</b-nav-item>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
	<b-container>
		<div v-if="!loggedIn" class="welcome">
			<h1>Welcome to Chaos Chat!</h1>
			<h5>Please register a username to begin chatting</h5>
			<b-form v-on:submit.prevent="register" class="register-form" autocomplete="off">
				<b-form-group	:state="usernameState"
								:invalid-feedback="usernameFeedback"
				>
					<b-input-group prepend="Username">
						<b-form-input	id="usernameInput"
										v-model.trim="loginForm.name"
										type="text"
										name="username"
										:state="usernameState"
										required
										v-bind:disabled="loginForm.disabled"
						></b-form-input>
						<b-input-group-append>
							<b-btn variant="primary" v-on:click="register" v-bind:disabled="loginForm.disabled">Register</b-btn>
						</b-input-group-append>
					</b-input-group>
				</b-form-group>
			</b-form>
		</div>	
		<div v-else class="chat">
			<b-row class="chat-main">
				<b-col class="messages">
					<h3>Messages</h3>
					<ul>
						<li v-for="(message, index) in messages" v-bind:key="message.timestamp" class="border">
							<span class="message">{{ message.name }}:&nbsp;{{ message.message }}</span>
							<span class="time">{{ new Date(message.timestamp).toLocaleString() }}</span>
							<button class="close delete" v-on:click="deleteMessage( message, index )"><span>&times;</span></button>
						</li>
					</ul>
				</b-col>
				<b-col md="2" class="users">
					<h3>Users</h3>
					<ul>
						<li v-for="user in users" v-bind:key="user.name" v-bind:class="{ online: user.status === 1 }">
							{{ user.name }}
							<small v-if="user.status === 0">Offline</small>
						</li>
					</ul>
				</b-col>
			</b-row>
			<b-row class="chat-input">
				<b-col>
					<b-form v-on:submit.prevent="send" class="send-form" autocomplete="off">
						<b-input-group>
							<b-form-input	id="sendInput"
											v-model.trim="sendForm.input"
											type="text"
											name="send"
											placeholder="Message"
											v-bind:disabled="sendForm.disabled"
							></b-form-input>
							<b-input-group-append>
								<b-btn variant="primary" v-on:click="send" v-bind:disabled="loginForm.disabled">Send</b-btn>
							</b-input-group-append>
						</b-input-group>
					</b-form>
				</b-col>
			</b-row>
		</div>
	</b-container>
	<footer>
		<a href="https://gitlab.com/planemaniac/CS260/tree/master/chat">source</a>
	</footer>
</div>
</template>

<script>
const REFRESH_TIMEOUT = 1;	// 1 second
let timeout = null;
let scroll = false;

export default {
	name: 'App',
	data() {
		return {
			loggedIn: false,
			loginForm: {
				name: '',
				disabled: false,
			},
			sendForm: {
				input: '',
				disabled: false,
			},
			username: '',
			users: [],
			messages: [],
		}
	},
	computed: {
		usernameState() {
			return this.loginForm.name.length > 2 ? true : false;
		},
		usernameFeedback() {
			if ( this.usernameState ) return;

			if ( this.loginForm.name.length === 0 ) {
				return 'Please enter a username';
			}
			return 'Username must be at least 3 characters';
		}
	},
	methods: {
		register() {
			if ( !this.usernameState ) return;

			this.loginForm.disabled = true;
			axios.post( 'api/users/register', {
				username: this.loginForm.name,
			} ).then( response => {
				this.username = this.loginForm.name;
				this.loggedIn = true;

				this.getUsers();
				this.getMessages();
				this.startTimeout();
				
				scroll = true;
            } ).catch( () => {
				alert( "There was an error registering, please try again" );
			} ).finally( () => {
				this.loginForm.name = '';
				this.loginForm.disabled = false;
			} );
		},
		logout() {
			this.loggedIn = false;
			this.username = '';

			this.users = [];
			this.messages = [];

			this.stopTimeout();
		},
		getUsers() {
			axios.get( 'api/users' ).then( users => {
				this.users = users.data;
			} );
		},
		getMessages() {
			axios.get( 'api/messages' ).then( messages => {
				this.messages = messages.data;
				if ( messages.data.length !== this.messages.length ) {
					scroll = true;
				}
			} );
		},
		update() {
			this.getUsers();
			this.getMessages();
		},
		send() {
			if ( !this.sendForm.input ) return;

			let message = this.sendForm.input;
			this.sendForm.disabled = true;

			axios.post( 'api/messages', {
				user: this.username,
				message: message,
			} ).then( messages => {
				this.sendForm.input = '';

				this.messages = messages.data;
				scroll = true;

				this.startTimeout();
			} ).catch( () => {
				alert( 'Error sending message' );
            } ).finally( () => {
				this.sendForm.disabled = false;
			} );
		},
		deleteMessage( message, index ) {
			axios.delete( `api/messages/${message.timestamp}`, {
				data: {
					user: this.username,
					index: index,
				}
			} ).then( messages => {
				this.messages = messages.data;

				this.startTimeout();
			} ).catch( () => {
				alert( 'Error deleting message' );
			} );
		},
		startTimeout() {
			this.stopTimeout();

			timeout = setInterval( this.update.bind( this ), REFRESH_TIMEOUT * 1000 );
		},
		stopTimeout() {
			if ( timeout !== null ) {
				clearInterval( timeout );
				timeout = null;
			}
		}
	},
	updated() {
		if ( scroll ) {
			let messagesContainer = this.$el.querySelector( '.messages' );
			if ( !messagesContainer ) return;

			messagesContainer.scrollTop = messagesContainer.scrollHeight;

			scroll = false;
		}
	},
	components: {
	}
}
</script>

<style lang="scss">
#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.navbar-nav {
		text-align: center;

		.navbar-text {
			color: #ffffff;
		}
	}

	.container {
		flex: 1;
		overflow: hidden;
	}
}

.welcome {
	text-align: center;

	.register-form {
		margin-top: 40px;
		max-width: 550px;
		display: inline-block;
	}
}

.chat {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;

	.chat-main {
		flex: 1;
		overflow: hidden;

		ul {
			list-style: none;
			padding: 0;
		}

		.messages {
			overflow-y: auto;
			max-height: 100%;

			li {
				display: flex;
				flex-wrap: wrap;

				border-radius: 3px;
				padding: 3px;

				& ~ li {
					margin-top: 3px;
				}

				.message {
					flex: 1;
				}

				.delete {
					align-self: center;
					padding-left: 5px;
				}

				.time {
					font-size: 0.8em;
					color: gray;
					order: -1;
					width: 100%;
					align-self: center;
				}

				@media (min-width: 768px) { 
					.time {
						order: initial;
						width: auto;
					}
				}
			}
		}

		.users {
			overflow-y: auto;
			display: none;
			max-height: 100%;

			h3 {
				text-align: center;
			}

			li {
				&.online {
					color: green;
				}

				small {
					font-size: 0.6em;
					font-style: italic;
				}
			}
		}

		@media (min-width: 768px) {
			.users {
				display: block;
			}
		}
	}

	.chat-input {
		padding: 15px 0;
	}
}

footer {
	text-align: center;
}
</style>
