<template>
	<div id="app">
		<img src="./assets/airplane.png" class="logo">
		<h1>Find Local Aircraft</h1>
		<form v-on:submit.prevent="search">
			<masked-input
				type="text"
				name="zipcode"
				placeholder="zipcode"
				v-model="zipcode"
				:mask="[/\d/,/\d/,/\d/,/\d/,/\d/]"
			></masked-input>
			<input type="submit" value="Search" />
		</form>
		<div v-if="error" class="error">
			{{ error }}
		</div>
		<div v-if="location" class="location">
			<h3>{{ location }}</h3>
		</div>
		<div class="aircraft">
			<span v-if="loading">Loading...</span>
			<div v-masonry class="item-container" item-selector=".item" transition-duration="1s" gutter=".gutter" fit-width="true">
				<div class="gutter"></div>
				<div v-masonry-tile class="item" v-for="(item, index) in data">
					<h2>{{ item.Man }} {{ item.Type }} <small>{{ item.Call }}</small></h2>
					<ul>
						<li>Operator: {{ item.Op }}</li>
						<li>Location: {{ item.Lat }}, {{ item.Long }}</li>
						<li>Altitude: {{ item.Alt }} feet</li>
						<li>Direction: {{ item.Brng }}&deg;</li>
						<li v-if="item.Spd">Speed: {{ item.Spd }} knots</li>
						<li>Distance: {{ item.Dst }} km</li>
					</ul>
				</div>
			</div>
		</div>
		<footer>
			<a href="https://gitlab.com/planemaniac/CS260/tree/master/aircraft/app">Source</a>
		</footer>
	</div>
</template>

<script>
import MaskedInput from 'vue-text-mask';

const GEOLOCATION_API = 'http://api.zippopotam.us/us';
const AIRCRAFT_API = 'https://cors-anywhere.herokuapp.com/https://public-api.adsbexchange.com/VirtualRadar/AircraftList.json?fDstL=0&fDstU=50'


export default {
	name: 'App',
	data() {
		return {
			zipcode: '',
			data: [],
			loading: false,
			error: '',
			location: '',
		}
	},
	methods: {
		search: function() {
			this.data = [];
			this.error = '';
			this.loading = true;
			this.location = '';

			fetch( `${GEOLOCATION_API}/${this.zipcode}` ).then( response => {
				return response.json();
			} ).then( location => {
				if ( !location.places ) {
					throw new Error( "Invalid Location!" );
				}

				let place = location.places[0];
				this.location = `${place['place name']}, ${place.state}`;

				return fetch( `${AIRCRAFT_API}&lat=${place.latitude}&lng=${place.longitude}` );
			} ).then( response => {
				return response.json();
			} ).then( data => {
				this.data = data.acList;
				this.loading = false;
			} )
			.catch( error => {
				this.error = error.message;
				this.loading = false;
				this.location = '';
			} );
		},
	},
	components: {
		MaskedInput
	}
}
</script>

<style>
* {
	box-sizing: border-box;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}

a {
	text-decoration: none;
}

.logo {
	width: 100%;
	max-width: 300px;
}

.error {
	margin: 40px;
	color: #ee0000;
	font-size: 2em;
}

.loading {
	margin: 40px;
	font-size: 2em;
}

.item-container {
	display: inline-block;
	max-width: 100% !important;
}

.item {
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	text-align: left;

	border: 1px solid darkgrey;
	border-radius: 3px;
}

h2 {
	margin-top: 0;
}

small {
	font-style: italic;
	font-size: 0.75em;
}

ul {
	list-style: none;
	padding: 0;
}

@media screen and ( min-width: 800px ) {
	.item {
		width: 400px;
	}
}

.gutter {
	width: 20px;
}

footer {
	width: 100%;
	padding: 50px;
	text-align: center;
}
</style>
